@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-in-section {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1.3s ease-out, transform 1.3s ease-out;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
}

.react-big-calendar {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

.react-big-calendar .rbc-toolbar {
  margin-bottom: 10px;
}

.react-big-calendar .rbc-event {
  background-color: #3174ad; /* Default event background color */
  color: white;
  padding: 2px 5px;
  border-radius: 5px;
}

